{% extends "base.html" %}
{% block content %}
        <h2 class="title is-2">Error 503: Service Unavailable </h2>
        <div>
            <p>
                The server is not ready to handle the request. Common causes are a server that is down for maintenance or that is overloaded. Note that together with this response, a user-friendly page explaining the problem should be sent. This response should be used for temporary conditions and the <code>Retry-After</code> HTTP header should, if possible, contain the estimated time before the recovery of the service. The webmaster must also take care about the caching-related headers that are sent along with this response, as these temporary condition responses should usually not be cached.
            </p>
            <br>
            <p>To learn more, <a HREF="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503">click here.</a></p>
        </div>
{% endblock %}